
.dark-mode{
	background: linear-gradient(90deg, rgba(0,0,0,1) 39%, rgba(27,150,175,1) 100%); /* couleur de fond*/		
	
}	

#btdm{
	position: absolute; /*positionnement*/
	bottom: 10px; /*mettre en bas */
	left: 10px; /*mettre en bas a gaucge*/
}


@media only screen and (max-width: 700px){ /* responsive telephone */

	
	.container .card{
		position: relative; /*positionnement*/
		right: 70px; /*postionnement a droite*/
	} 
	.glob {
		display: flex; /*positon*/
		flex-wrap: wrap; /*mettre sur une seule ligne en etage*/
		width: 100%; /*largeur*/
		height: 190vh; /*taille*/
		overflow: auto; /*scrool*/
		flex-direction: row; /*mettre sur une seule ligne*/
	    position: absolute; /*positionnement*/
    	top: 100px; /*descendre a partir du haut*/
		
	}
	.glob123 .side {
		position: absolute; /*position*/
		top: 70px; /*descendre a partir du haut*/

	}
	

	
}




body{
    margin: 0; /*la taille des marges */
    height:100vh; /* taille de l'image prend toutes la page*/
	width: 100%;  /* largeur prends toutes la page*/
	background: linear-gradient(0deg, rgba(149,160,149,1) 35%, rgba(26,65,78,1) 80%); /* couleur du fond des pages */ 
	overflow: hidden; /* pour eviter le scroll*/ 
	font-family: 'Hanalei Fill', cursive; /*choix de ecriture*/

}

#fond {
    height: 100% ; /* prebds toutes la page l image*/
    background-size: cover; /* couvre tous le fond*/
    background-image: url(../img/3253522.jpg); /* inserer une img*/
    background-repeat: repeat-y; /* ne pas repeter mon image pour que elle prends tous le fond*/
	
}

#centre {
        display: flex; /*position*/
        height: 100%;   /* taille de l'image prend toutes la page*/
        text-align: right; /* centrer a droite */
		margin-right: 30px; /* mettre une marge a partir de la droite*/
        flex-direction: column; /*mettre en colonne*/
        justify-content: center;  /* justifer les mots */
}

nav a {
color: white;  /* couleur de la navigation*/
font-size: 20px;  /* taille des caractere */
text-decoration: none;  /*enlever le surlignement*/
line-height: 50px;  /* définir la hauteur de ligne */
padding: 20px;  /*espacement entre les mots*/

}
 
nav a:hover{

color: rgb(233, 230, 64);  /*la couleur quand on passe dessus */
}

nav{
background-color: #1a414e;  /*couleur de la barre de navigation*/
padding: 10px;  /*epaisseur de la nav */
display: flex; /*position*/
justify-content: center; /* /*position au milieu*/ 

}

.nom{
    color: white;  /*couleur des mots*/
    font-size: 40px;  /*taille des mots */
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /*polices des mots */
}

.ligne{
    color: white;  /*couelur de la ligne*/
}

.port{
    color: white;  /*couleur des mots*/
    font-size: 35px;  /*taille des mots*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /*polices des mot*/
}


/* TRAVAUX*/ 
* {
	margin: 0; /*la taille des marges */
	padding: 0; 
}


section::before {
	content: ''; /*inserer du vide*/
	position: absolute; /*position*/
	top: 90px; /* a partir de du haut , descendre de 90px*/
	
}

section::after {
	content: '';
	position: absolute; /*position*/
	top: 90px; /*descendre a partir du haut*/
	left: 0; /*coller a gauche*/
	width: 100%; /* largeur prends toutes la page*/

    
}

.container {
	position: relative; /*position*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0; /*la taille des marges */
}

.container .card {
	position: relative; /*position*/
	width: 300px; /* largeur prends toutes la page*/
	height: 400px;  /* taille de l'image prend toutes la page*/
	background: rgba(255, 255, 255, 0.05);
	margin: 20px; /*la taille des marges */
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative; /*position*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative; /*position*/
	width: 150px; /* largeur prends toutes la page*/
	height: 150px;  /* taille de l'image prend toutes la page*/
	overflow: hidden; /* pour eviter le scroll*/ 
   
}

.container .card .content .imgBx img {
	position: absolute; /*position*/
	top: 0; /*descendre a partir du haut*/
	left: 0; /*coller a gauche*/
	width: 100%; /* largeur prends toutes la page*/
	height: 100%;  /* taille de l'image prend toutes la page*/
	object-fit: cover;
   
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px; /*la taille des marges */
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute; /*position*/
	bottom: 50px; 
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px; /*la taille des marges */
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}


/* LIEN */ 




.glob {
    display: flex; /*position*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    width: 100%; /* largeur prends toutes la page*/
    height: 90vh;  /* taille de l'image prend toutes la page*/
    overflow: auto; /* afficher meme si c'est pas dans le cadre */
    flex-direction: row;
   
    
    

}

.glob123 {
    height:225px;
    width: 300px; /* largeur prends toutes la page*/
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    margin: 40px; /*la taille des marges */
    
}

.glob123:hover {
    transform: rotateY(180deg);
}

.glob123 .side {
    color: white;
    text-align: center; /* centrer au milieu */
    border-radius: 10px;
    height: 100%;  /* taille de l'image prend toutes la page*/
    width: 100%; /* largeur prends toutes la page*/
    overflow: hidden; /* pour eviter le scroll*/ 
    backface-visibility: hidden;
}

.glob123 .back {
    transform: rotateY(180deg);
}

.side h3 {
    padding-top: 30px; 
    line-height: 30px;
}

.side p {
    line-height: 20px;
}




/* formulaire */


  
form ul li {
	display: grid; /*position*/
	grid-template-columns: [start label] 8em [input] .10fr [end] ; /* mettre tous a gauche et aligner et le contenu a droite*/
	gap: 10px; /* espacement entre les lignes */
	margin-bottom: 10px; /*la taille des marges */
  }

.formg{
	background-color: #deecdc;
	width: 550px; /* largeur prends toutes la page*/
	height: 350px;  /* taille de l'image prend toutes la page*/
	padding: 5px; /*espacement entre les mots*/
	display: flex; /*position*/
	align-items: center;
	justify-content: center;
	top: 50%; /*descendre a partir du haut*/
	left: 50%; /*coller a gauche*/
	position: absolute; /*position*/
	transform: translate(-50% , -50%); /* mettre au milieu*/
	border-radius: /* mettre en rond*/
	100% 100% 100% 100% / 100% 100% 100% 100%;
	box-shadow: 15px 19px 29px 5px rgba(0,0,0,0.5); /* fond du rond du formulaire*/
	
}

.mess{
	resize: none; /* eviter de grossir le message avec les caractere*/
	width: 164px; /* largeur prends toutes la page*/
	height: 50px;  /* taille de l'image prend toutes la page*/
}
  
/* tuto*/

.tutoview{
	height:auto; /* taille de l'image prend toutes la page*/
	overflow: visible; /* afficher meme si c'est pas dans le cadre */
}

.tuto{
	text-align: center; /*centrer au milieu*/
	color: white; /*color police*/
	font-size: 60px; /*taille de la police*/
	padding: 40px; /*espacement entre les mots*/
}

.imgbur{
	display: block; /*position*/
	width: 10%; /* largeur prends toutes la page*/
	margin: auto; /*la taille des marges */
	
}
.textbur{
	text-align: center; /*centrer au milieu*/
	color: white; /*color police*/
}

.imgbur1{
	display: block; /*position*/
	width: 40%; /* largeur prends toutes la page*/
	margin: auto; /*la taille des marges */
}

.tuto1{
	text-align: center; /*centrer au milieu*/
	color: white; /*color police*/
	font-size: 60px; /*taille de la police*/
	padding: 40px; /* définir les différents écarts */
}